@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

body {
  font-family: "Rubik", sans-serif;
  background-color: #f2f9f7;
  padding: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 600px;
  max-width: 600px;
  margin: auto;
  background-color: #090f0f;
  color: white;
  padding: 50px;
  border-radius: 35px;
  box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.8);
}

button {
  background-color: #39bbccc0;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  color: #f2f9f7;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

button:hover {
  background-color: #3898be;
  transform: translateY(2px);
}

form {
  margin-top: 20px;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

form button {
  background-color: #43d5aecb;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

form button:hover {
  background-color: #43d5ad;
}
